ul {
  list-style: none;
  background-color: rgba(20, 20, 20, 0.895);
  box-shadow: 0px 1px 5px 2px rgba(0, 0, 0, 0.8);
  margin: 0;
  padding: 0;
  z-index: 10;
  overflow: hidden;
}

li {
  float: left;
}

.list {
  color: white;
  display: block;
  padding: 15px;
  text-decoration: none;
}

.list:hover {
  background-color: white;
  color: black;
  font-weight: 700;
}
