.container_s {
  padding: 0px 20px;
  margin-top: 15px;
}

.input {
  all: unset;
  font-size: 20px;
  color: rgba(255, 255, 255, 0.85);
  border: 2px solid white;
  border-radius: 5px;
}

.form {
  margin-bottom: 50px;
}
